body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#right {
    background-color: white;
}

#left {
    background-image: url(/img/oguzhan-edman-Be9qgruKJKM-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 600px;
    height: auto;
    padding: 0;
    margin: 0;
}

#right {
    background-color: lightgray;
    width: 100%;
}

.input-wrap {
    display: flex;
    flex-direction: column;
}

#form {
    background-color: #fff;
    padding: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}