body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    min-height: 100%;
}

p {
    padding: 0;
    margin: 0;
}

h2 {
    margin: 0px 0px 20px 0px;
    padding: 0;
    font-size: 24px;
}

input {
    border: 1px solid rgb(211, 211, 211);
    border-radius: 3px;
    height: 18px;
    width: 150px;
    max-width: 150px;
}

button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin: 30px 60px;
    width: 150px;
    height: 50px;
    background-color: #3d5b44;
    border-radius: 5px;
    border: none;
    font-size: 14px;
}

#left {
    background-image: url(/img/nahil-naseer-xljtGZ2-P3Y-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    max-width: 40vw;
    height: 100%;
    padding: 0;
    margin: 0;
}

#right {
    background-color: rgb(250, 248, 248);
    width: 100%;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#logo {
    margin-top: 10rem;
    width: 100%;
    max-width: inherit;
    height: 5em;
    background-color: rgba(3, 3, 3, 0.39);
    font-size: 40px;
    text-align: center;
    vertical-align: center;
    line-height: 5em;
}

#logo-text {
    margin: 0;
    padding: 0 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fff;
}

.input-wrap {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 150px;
    max-width: 150px;
}

#card {
    position: relative;
    background-color: #fff;
    padding: 40px 60px 60px 60px;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    height: 30vh;
    gap: 1em;
}

#form {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(104, 104, 104);
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    height: 30vh;
    width: 100%;
    max-width: 400px;
}

#herotext {
    padding: 80px 10vw 40px 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 24px;
    margin: 0px 0px 20px 0px;
}

.guideline {
    display: none;
}

.error {
    display: none;
    margin: 0;
    padding: 0;
    color: red;
}

input:not(:focus):not(:placeholder-shown):invalid {
    border-color: red;
}

#e-mail:not(:focus):not(:placeholder-shown):invalid~#error-mail {
    display: block;
}

#pass-word:focus~.guideline {
    display: block;
}

#confirm-pass:focus~.guideline {
    display: block;
}

#pass-word:not(:focus):not(:placeholder-shown):invalid~#error-pass {
    display: block;
}

.confirm-wrong:not(:focus):not(:placeholder-shown) {
    border-color: red;
}

.confirm-ok:not(:focus):not(:placeholder-shown) {
    border-color: lightgreen;
}

#confirm-pass:not(:focus):not(:placeholder-shown)~#error-confirm {
    display: block;
}

#confirm-pass:not(:focus):not(:placeholder-shown)~#error-none {
    display: none;
}

#pass-word:valid,
#e-mail:valid,
#username:valid {
    border-color: lightgreen;
}